@inject HttpClient Http

<div class="row g-3 mb-3">
    <div class="col-md-2">
        <Card Color="CardColor.Primary">
            <CardBody>
                <strong class="center-vertically">Choose a category to see the available models</strong>
            </CardBody>
        </Card>
    </div>
    
    @if (_categories is null)
    {
        <div class="col-md-10 d-none d-md-block">
            <div class="row g-3 h-100 placeholder-glow">
                @for (var i = 0; i < 6; i++)
                {
                    <div class="col-md-2 h-100">
                        <div class="placeholder w-100 h-100"></div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="col-md-10">
            <div class="row g-3 h-100">
                @foreach (var category in _categories)
                {
                    <div class="col-md-2">
                        <CategorySelectorButton Category="category"
                                                IsActive="@(category == SelectedCategory)"
                                                OnClickCallback="() => OnCategorySelectorButtonClicked(category)"/>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    // [Parameter]
    // public EventCallback<Category> CategorySelected { get; set; }

    private Category[]? _categories;

    [Parameter]
    public Category? SelectedCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _categories = await Http.GetFromJsonAsync<Category[]>("/api/Categories") ?? new Category[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private void OnCategorySelectorButtonClicked(Category category)
    {
        if (SelectedCategory == category)
            return;

        SelectedCategory = category;

        // CategorySelected.InvokeAsync(SelectedCategory);
    }
}
