
@if (AvailableSizes is null)
{
    <Spinner />
}
else
{
    <div class="row g-3">
        @foreach (var size in AvailableSizes)
        {
            <div class="col-12">
                <SizeQtySelector Size="@size" />
            </div>
        }
    </div>
}

@code {
    [CascadingParameter]
    [EditorRequired]
    public Model? Model { get; set; }

    protected IEnumerable<string>? AvailableSizes { get; set; }

    protected override void OnInitialized()
    {
        AvailableSizes = GetAvailableSizes();
    }

    private IEnumerable<string>? GetAvailableSizes()
    {
        if (Model is null)
            return null;

        var bikes = Model.Bikes;
        var sizes = bikes.Select(x => x.Size);
        var availableSizes = sizes.Distinct();

        var sorted = availableSizes.OrderBy(s => s);

        return sorted;
    }
}
