@page "/admin/bikes"

@layout AdminLayout

<PageTitle>Manage Bikes - Gresham Powersports</PageTitle>

<h1>Manage Bikes</h1>

<div class="row g-3">
    <div class="col">
        <BikesGrid />
    </div>
</div>

@code {

}