@page "/admin/categories"

@layout AdminLayout

<PageTitle>Manage Categories - Gresham Powersports</PageTitle>

<h1>Manage Categories</h1>

<div class="row g-3">
    <div class="col">
        <CategoriesGrid />
    </div>
</div>

@code {

}
