@page "/admin"
@page "/admin/dashboard"

@layout AdminLayout

<PageTitle>Dashboard - Gresham Powersports</PageTitle>

<h1>Admin Dashboard</h1>

<p>This dashboard will enable quick access to critical information and actions.</p>

<ul>
    <li>An overview of rental events (Upcoming pickup, upcoming returns, cancellation notices, etc.)</li>
    <li>A calendar that enables the admins to browse and create rental events on-prem</li>
    <li>A quick search that allows the admins to search for names, rentals, bikes, etc.</li>
    <li>Quick links for managing rentals and inventory</li>
    <li>Reports</li>
</ul>

@code {
}
