@page "/admin/manufacturers"

@layout AdminLayout

<PageTitle>Manage Manufacturers - Gresham Powersports</PageTitle>

<h1>Manage Manufacturers</h1>

<div class="row g-3">
    <div class="col">
        <ManufacturersGrid />
    </div>
</div>

@code {

}
