@page "/admin/rentals"

@layout AdminLayout

<PageTitle>Manage Rentals - Gresham Powersports</PageTitle>

<h1>Manage Rentals</h1>

<div class="row g-3">
    <div class="col">
        <RentalsGrid />
    </div>
</div>

@code {

}
