@page "/admin/settings"

@layout AdminLayout

<PageTitle>Manage Categories - Gresham Powersports</PageTitle>

<h1>Settings</h1>

<p>This page is where you will be able to configure the various settings for the rentals app. This will include the following:</p>

<ul>
    <li>Email addresses</li>
    <li>Cancellation policies</li>
    <li>Eligibility</li>
    <li>Minimum and maximum rental durations</li>
    <li>Rate calculations</li>
    <li>Taxes, surcharges, penalties, rate adjustments and other fees</li>
    <li>Insurance policy</li>
    <li>Deposit amount</li>
    <li>Damage waivers</li>
    <li><em>And more...</em></li>
</ul>

@code {

}
