@page "/admin/sizes"

@layout AdminLayout

<PageTitle>Manage Sizes - Gresham Powersports</PageTitle>

<h1>Manage Sizes</h1>

<div class="row g-3">
    <div class="col">
        <SizesGrid />
    </div>
</div>

@code {

}