@page "/admin/types"

@layout AdminLayout

<PageTitle>Manage Types - Gresham Powersports</PageTitle>

<h1>Manage Types</h1>

<div class="row g-3">
    <div class="col">
        <TypesGrid />
    </div>
</div>

@code {

}